* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: url("Sprinkle.svg");
}
.register,
.login {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1.35fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 550px;
  height: 100%;
  padding: 40px;
  max-width: 850px;
  width: 100%;
}
.login {
  grid-template-columns: 1.35fr 1fr;
}
.register > div,
.login > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 15px;
}
.left-side {
  background-color: rgba(24, 101, 216, 0.712);
  height: 100%;
}
.right-side {
  background-color: white;
  height: 100%;
}
.right-side p {
  color: rgb(153, 153, 153);
}
.register form,
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.register button,
.register a,
.login a,
.login button {
  max-width: 180px;
  height: 40px;
  width: 100%;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.register a,
.login a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.left-side a {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s;
}
.left-side a:hover {
  background-color: white;
  color: rgb(34, 115, 236);
}
.register form label,
.login form label {
  color: black;
  position: relative;
  max-width: 300px;
  width: 100%;
}
.register form label i,
.login form label i {
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
  font-size: 12px;
  color: rgb(153, 153, 153);
}
.register form label input,
.login form label input {
  height: 35px;
  width: 100%;
  padding: 15px 25px;
  border: none;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.308);
  outline: 2px solid transparent;
  transition: 0.4s;
}
.register form label input:hover,
.login form label input:hover {
  outline: 2px solid rgb(34, 115, 236);
}
.register form label input:focus,
.login form label input:focus {
  outline: 2px solid rgb(34, 115, 236);
}
.register form label input::placeholder,
.login form label input::placeholder {
  color: rgb(153, 153, 153);
}
.register h1,
.register h2,
.login h1,
.login h2 {
  font-size: 45px;
  font-weight: 1000;
  color: white;
  text-align: center;
}
.register h1,
.login h1 {
  color: rgb(34, 115, 236);
}
.register p,
.login p {
  text-align: center;
}
.third-party-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 8px;
  font-size: 17px;
}
.third-party-auth i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 3px black;
}
.right-side button {
  margin-top: 10px;
  background-color: rgb(34, 115, 236);
  border: 2px solid transparent;
  transition: 0.3s;
}
.right-side button:hover {
  background-color: white;
  border: 2px solid rgb(34, 115, 236);
  color: rgb(34, 115, 236);
}
